$max-width: 960px;

.inner { 
	@include outer-container; 
	@include padding(unpack(30px 20px 40px));
	text-align: center;
}

h2 {
	font: 300 24px/42px $base-ff;
}

p {
	font: 300 16px/24px $base-ff;
}

.btn {
	border: 0;
	border-radius: 3px;
	display: block;
	font: 15px/23px $base-ff;
	width: 100%;
	max-width: 360px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	text-decoration: none;
	margin: auto;
}

section {
	background: transparent;
	position: relative;
	.section-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		.header {
			background: asset-url('header.jpg') center center no-repeat;
			background-size: cover;
			height: 300px;
			width: 100%;
			h1 {
				color: $title-color;
				font-size: 24px;
				font-weight: 300;
				line-height: 36px;
				margin: 30px auto 0;
				max-width: 740px;
			}
		}
		.section-title, .section-subtitle {
			.inner {
				@include padding(unpack(0 15px));
				max-width: 600px;
				h2 {
					margin: 0;
				}
			}
		}
		.appImg {
			width: 100%;
			height: 100%;
			min-height: 300px;
			position: relative;
			.callout {
				position: absolute;
			}
		}
	}
	&.intro {
		.appImg {
			background: asset-url('screen-1@2x.png') center center / 340px 258px no-repeat;
			margin-top: -80px;
		}
		&.sticky {
			.appImg {
				background: asset-url('screen-1@2x.png') center center / 529px 402px no-repeat fixed;
			}
		}
	}
	&.screen1 {
		.appImg {
			background: asset-url('screen-1@2x.png') center center / 340px 258px no-repeat;
			max-width: 820px;
			margin: auto;
			.callout {
				display: none;
				width: 100px;
				height: 100px;
				top: 50%;
				right: 10%;
			}	
		}
	}
	&.screen2 {
		.appImg {
			background: asset-url('screen-2@2x.png') center center / 340px 258px no-repeat;	
			max-width: 820px;
			margin: auto;
		}
	}
	&.screen3 {
		.appImg {
			background: asset-url('screen-3@2x.png') center center / 340px 258px no-repeat;
			max-width: 820px;
			margin: auto;
			.callout {
				display: none;
				width: 306px;
				height: 102px;
				top: 50%;
				right: 10px;
			}		
		}
	}
	&.screen4 {
		.appImg {
			background: asset-url('screen-4@2x.png') center center / 340px 258px no-repeat;
			max-width: 820px;
			margin: auto;
			.callout {
				display: none;
				width: 150px;
				height: 150px;
				top: 40%;
				right: 10px;
			}		
		}
	}
	&.screen5 {
		.appImg {
			background: asset-url('screen-5@2x.png') center center / 340px 258px no-repeat;	
			max-width: 820px;
			margin: auto;
		}
	}
	&.screen6 {
		.appImg {
			background: asset-url('screen-6@2x.png') center center / 340px 258px no-repeat;
			max-width: 820px;
			margin: auto;
			.callout {
				display: none;
				width: 218px;
				height: 174px;
				top: 28%;
				right: 10px;
			}		
		}
	}
	&.users {
		background: $alt-bg-color;
		text-align: center;
		h2 {
			font-weight: 400;
			margin-top: 0;
		}
		img {
			width: 250px;
			height: 250px;
			margin: auto;
		}
		ul {
			list-style-type: none;
			margin: 40px auto 0;
			max-width: 400px;
			padding: 0;
			text-align: left;
			li {
				background: asset-url('check-blue.svg') left 6px no-repeat;
				padding-left: 28px;
				margin-top: 20px;
				font: 300 16px/24px $base-ff;
			}
		}
	}
	&.techs {
		@extend .users;
		background: $dark-accent-bg-color;
		color: $title-color;
		ul {
			li {
				background: asset-url('check-white.svg') left 6px no-repeat;
			}
		}
	}
	&.request {
		h2 {
			margin: 0;
		}
		p {
			font: 300 18px/27px $base-ff;
			margin: 5px 0 16px;
			span {
				color: $accent-bg-color;
			}
		}
		span.error {
			color: #ff0000;
			display: block;
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 5px;;
			visibility: hidden;
		}
		form {
			input[type="email"] {
				background: $input-bg-color;
				border: 0;
				font: 300 15px $base-ff;
				outline: 0;
				width: 100%;
				max-width: 360px;
				height: 53px;
				text-align: center;
			}
			.field-wrap {
				margin: 15px 0;
				input[type="checkbox"] {
					display: none;

				}
				label {
					font: 300 14px $base-ff;
				}
				input[type="checkbox"] + label span {
					background: $input-bg-color;
					cursor: pointer;
					display: inline-block;
					height: 17px;
					width: 17px;
					margin: -2px 10px 0 0;
					position: relative;
					vertical-align: middle;
				}
				input[type="checkbox"]:checked + label span {
					background: $input-bg-color asset-url('check-blue.svg') 4px 3px no-repeat;
				}
			}
			.request {
				@extend .btn;
				background: $accent-bg-color;
				color: $title-color;
			}
		}
		.mobile-share {
			margin-top: 30px;
			height: 40px;
			line-height: 40px;
			span {
				vertical-align: middle;
				margin-bottom: 0.05em;
			}
			a {
				margin-left: 8px;
				&:first-child {
					margin-left: 0;
				}
				img {
					vertical-align: middle;
					margin-bottom: 0.05em;
				}
			}
		}
		.request-success {
			display: none;
			//min-height: 350px;
			a {
				@extend .btn;
				color: $title-color;
				&.twitter.large {
					background: $twitter-bg-color;
					margin: 30px 0 20px;
				}
				&.facebook.large {
					background: $facebook-bg-color;
				}
				img {
					vertical-align: middle;
					margin: 0 10px 0.05em 0;
				}
			}
		}
	}
}

// Mobile Slider Styles
.swiper-container {
  width: 100%;
  height: auto;
  padding: 60px 0;
  .swiper-pagination-bullet-active {
  	background: $accent-bg-color;
  }
}  

.swiper-container-horizontal {
	& > .swiper-pagination {
		bottom: 30px !important;
	}
}


// use some of this for desktop
// $max-width: 960px;

// .inner { 
// 	@include outer-container; 
// 	@include padding(unpack(60px 15px));
// 	text-align: center;
// }

// body {
// 	//padding-top: 125px;
// }

// // header {
// // 	background: asset-url('header.jpg') center center no-repeat;
// // 	background-size: cover;
// // 	height: 386px;
// // 	width: 100%;
// // 	position: absolute;
// // 	top: 0;
// // 	left: 0;
// // 	h1 {
// // 		color: $title-color;
// // 		font-size: 28px;
// // 		font-weight: 300;
// // 		line-height: 42px;
// // 	}
// // }

// section {
// 	background: transparent;
// 	min-height: 600px;
// 	position: relative;
// 	.section-wrapper {
// 		width: 100%;
// 		height: 100%;
// 		position: relative;
// 		overflow: hidden;
// 		.header {
// 			background: asset-url('header.jpg') center center no-repeat;
// 			background-size: cover;
// 			height: 386px;
// 			width: 100%;
// 			h1 {
// 				color: $title-color;
// 				font-size: 28px;
// 				font-weight: 300;
// 				line-height: 46px;
// 			}
// 		}
// 		.appImg {
// 			//position: absolute;
// 			//top: 0;
// 			//left: 0;
// 			width: 100%;
// 			height: 402px;
// 		}
// 		.content {
// 			@include span-columns(8);
// 			@include shift(2);
// 		}
// 	}
// 	&.screen1 {
// 		//margin-top: -260px;
// 		.appImg {
// 			background: asset-url('1@2x.png') center 82% / 90% auto no-repeat;
// 			margin-top: -215px;
// 		}
// 		&.sticky {
// 			.appImg {
// 				background: asset-url('1@2x.png') center center / 529px 402px no-repeat fixed;
// 			}
// 		}
// 	}
// 	&.screen2 {
// 		.appImg {
// 			background: asset-url('1@2x.png') center center / 529px 402px no-repeat;	
// 		}
// 	}
// 	&.screen3 {
// 		.appImg {
// 			background: #f7f7f7 asset-url('2@2x.png') center center / 529px 402px no-repeat;	
// 		}
// 	}
// }