$max-width: 960px;

.inner { 
	@include outer-container; 
	@include padding(unpack(30px 20px 40px));
}

h2 {
	font: 300 24px/36px $base-ff;
	margin-top: 0;
}

p {
	font: 300 16px/24px $base-ff;
}

a {
	text-decoration: none;
}

.btn {
	border: 0;
	border-radius: 3px;
	display: block;
	font: 15px/23px $base-ff;
	width: 100%;
	max-width: 360px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	text-decoration: none;
	margin: auto;
}

.input {
	background: $input-bg-color;
	border: 0;
	font: 300 15px $base-ff;
	outline: 0;
	width: 100%;
	max-width: 360px;
	height: 53px;
	text-align: center;
}

@include media($max) {

	.is-transparent {
		opacity: 0 !important;
		pointer-events: none;
	}

	.screens {
		width: 95%;
		padding-bottom: 72%;
		margin-left: 2.5%;
		bottom: initial !important;
	}

	.text-wrapper {
		div {
			opacity: 0;
			&.active {
				opacity: 1;
			}
		}
	}

}

section {
	background: transparent;
	position: relative;
	&.intro {
		position: absolute;
		top: 0;
		left: 0;
		display: table;
		width: 100%;
		height: 100%;
		height: 100vh;
		box-sizing: border-box;
		z-index: 10;
		.header {
			background: asset-url('header.jpg') center center no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
			.inner {
				.header-text {
					@include transform(translate(-50%, -30%));
					@include position(absolute, 30% null null 50%);
					width: 90%;
					text-align: center;
					img {
						width: 99px;
						height: 38px;
					}
					h1 {
						color: $title-color;
						font-size: 20px;
						font-weight: 300;
						line-height: 30px;
						margin: 40px auto 0;
						max-width: 740px;
						span {
							font-size: 24px;
							line-height: 36px;
							display: block;
							margin-bottom: 15px;
						}
					}
				}
				a {
					position: absolute;
					bottom: 15%;
					left: 50%;
					@include transform(translateX(-50%));
					color: $title-color;
					font-size: 14px;
					text-transform: uppercase;
					img {
						display: block;
						width: 15px;
						margin: auto;
					}
				}
			}
		}
	}
	&.social {
		display: none;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 60px;
		z-index: 99;
		background-color: $title-color;
		border-top: 1px solid $border-color;
		line-height: 60px;
		text-align: center;
		a.tech-link {
			position: absolute;
			left: 6%;
			color: $link-color;
			font-weight: 300;
			&:hover {
				
			}
		}
		a.request-link {
			font-size: 18px;
			font-weight: 300;
			color: $accent-bg-color;
		}
		.social-share {
			position: absolute;
			right: 6%;
			top: 0;
			span {
				vertical-align: middle;
				margin-bottom: 0.05em;
			}
			a, label {
				margin-left: 8px;
				&:first-child {
					margin-left: 0;
				}
				img {
					vertical-align: middle;
					margin-bottom: 0.05em;
				}
				.email-share {
					cursor: pointer;
					display: inline;
				}
			}
		}
	}
	&.walkthrough-section {
		box-sizing: border-box;
		padding-top: 100vh;
		width: 100%;
		background-color: transparent;
		position: relative;
		z-index: 9;
		.walkthrough-wrapper {
			box-sizing: border-box;
			max-width: 100%;
			padding: 15vh 6%;
			margin: 0 auto;
			position: relative;
			transition: none !important;
			-webkit-backface-visibility: hidden;
			.walkthrough {
				display: table;
				position: relative;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				transition: none !important;
				-webkit-backface-visibility: hidden;
				.screens-wrapper {
					width: 100%;
					height: auto;
					display: block;
					position: relative;
					left: 0;
					//overflow: hidden;
					z-index: 100;
					.screens {
						background-image: asset-url('display-blank.jpg');
						background-size: cover;
						background-repeat: no-repeat;
						background-position: 50%;
						position: relative !important;
						display: block;
						-webkit-backface-visibility: hidden;
						.screen {
							position: absolute;
							top: 7%;
							left: 6%;
							width: 88%;
							height: 65.5%;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: 50%;
							@include transition(none!important); 
	  					-webkit-backface-visibility: hidden;
						}
						.screen.fix {
							background-image: asset-url('fix.jpg');
							img {
								width: 30%;
								position: absolute;
								bottom: -20%;
								right: -12%;
							}
						}
						.screen.match {
							background-image: asset-url('match.jpg');
						}
						.screen.session {
							background-image: asset-url('session.jpg');
							img {
								width: 70%;
								position: absolute;
								bottom: -18%;
								right: -12%;
							}
						}
						.screen.solve {
							background-image: asset-url('solve.jpg');
							img {
								position: absolute;
							  left: -7%;
							  bottom: -45%;
							  width: 50%;
							}
						}
						.screen.review {
							background-image: asset-url('review.jpg');
						}
						.screen.tech {
							background-image: asset-url('tech.jpg');
							img {
							  position: absolute;
							  bottom: -22%;
							  width: 60%;
							  right: -12%;
							}
						}
						.screen.slides-wrapper {
							display: none;
							.slides {
								div {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									opacity: 0;
									&.active {
										opacity: 1;
									}
									img {

									}
								}
							}
						}
					}
				}
				.slider-nav {
					display: none;
					font-size: 12px;
					color: #ccc;
					margin-top: 20px;
					text-align: center;
					span {
						padding: 0 7px;
						cursor: pointer;
					}
					span.active {
						color: $accent-bg-color;
					}
				}
				.text-wrapper {
					display: block;
					width: 100%;
					left: 0;
					position: relative;
					vertical-align: middle;
					padding-bottom: 0;
					min-height: 240px;
					text-align: center;
					max-width: 600px;
					margin: auto;
					.text-node {
						margin-top: 0;
						margin-bottom: 0;
						width: 100%;
						padding-top: 20px;
						padding-bottom: 0;
						position: absolute;
						min-height: 240px;
					}
				}
			}
		}
	}
	&.users {
		background: $alt-bg-color;
		text-align: center;
		h2 {
			font-weight: 400;
			margin-top: 0;
		}
		img {
			width: 250px;
			height: 250px;
			margin: auto;
		}
		ul {
			list-style-type: none;
			margin: 40px auto 0;
			max-width: 420px;
			padding: 0;
			text-align: left;
			li {
				background: asset-url('check-blue.svg') left 6px no-repeat;
				padding-left: 28px;
				margin-top: 20px;
				font: 300 16px/24px $base-ff;
			}
		}
	}
	&.techs {
		@extend .users;
		background: $dark-accent-bg-color;
		color: $title-color;
		ul {
			li {
				background: asset-url('check-white.svg') left 6px no-repeat;
			}
		}
	}
	&.request {
		.inner {
			text-align: center;
		}
		h2 {
			margin: 0;
		}
		p {
			font: 300 18px/27px $base-ff;
			margin: 5px 0 16px;
			span {
				color: $accent-bg-color;
			}
		}
		span.error {
			color: $error-color;
			display: block;
			font-size: 14px;
			line-height: 21px;
			margin-bottom: 5px;;
			visibility: hidden;
		}
		form {
			input[type="email"] {
				@extend .input;
			}
			.field-wrap {
				margin: 15px 0;
				input[type="checkbox"] {
					display: none;

				}
				label {
					font: 300 14px $base-ff;
				}
				input[type="checkbox"] + label span {
					background: $input-bg-color;
					cursor: pointer;
					display: inline-block;
					height: 17px;
					width: 17px;
					margin: -2px 10px 0 0;
					position: relative;
					vertical-align: middle;
				}
				input[type="checkbox"]:checked + label span {
					background: $input-bg-color asset-url('check-blue.svg') 4px 3px no-repeat;
				}
			}
			.request {
				@extend .btn;
				background: $accent-bg-color;
				color: $title-color;
			}
		}
		.request-success {
			display: none;
			a {
				@extend .btn;
				color: $title-color;
				&.twitter.large {
					background: $twitter-bg-color;
					margin: 30px auto 20px;
				}
				&.facebook.large {
					background: $facebook-bg-color;
				}
				img {
					vertical-align: middle;
					margin: 0 10px 0.05em 0;
				}
			}
		}
	}
}

.modal {

  .modal-state {
    display: none;
  }

  .modal-fade-screen { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(255,255,255, 0.98);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($tablet) {
      padding-top: 6em;
    }

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity 0.25s ease);
    background: $modal-background;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    @include media($largemobile) {
      max-height: 90%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($tablet) {
      width: 50%;
    }

    .modal-content {
    	width: 300px;
    	margin: auto;
    	h2 {
    		text-align: center;
    		margin-bottom: 5px;
    	}
    	.share-email-flash {
    		font-size: 14px;
    		line-height: 21px;
    		margin-bottom: 5px;
    		color: $error-color;
    		text-align: center;
    		display: block;
    	}
    	input[type="text"] {
    		@extend .input;
    		margin: 0 0 20px;
    		text-align: left;
    		padding: 10px;
    	}
    	textarea {
    		@extend .input;
    		height: 120px;
    		text-align: left;
    		padding: 10px;
    	}
    	input[type="submit"] {
    		@extend .btn;
				background: $accent-bg-color;
				color: $title-color;
				margin: 10px 0 0;
				width: 48%;
				float: left;
    	}
    	button {
				@extend .btn;
				background: $base-color;
				color: $title-color;
				margin: 10px 0 0;
				width: 48%;
				float: right;
    	}
    }
  }

  .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
  }
}

.modal-open {
  overflow: hidden;
}