@include media($largemobile) {
	.inner { 
		@include padding(unpack(60px 20px 70px));
	}
	section {
		&.intro {
			.header {
				.inner {
					.header-text {
						h1 {
							font-size: 28px;
							line-height: 42px;
							margin-top: 60px;
							span {
								font-size: 36px;
								line-height: 52px;
							}
						}
					}
				}
			}
		}
		&.walkthrough-section {
			.walkthrough-wrapper {
				.walkthrough {
					.text-wrapper {
						margin: 30px auto 0;
					}
				}
			}
		}
		&.users {
			.inner {
				padding: 50px 20px 70px;
			}
		}
	}
}