@include media($tablet) {

	p {
		font-size: 18px;
		line-height: 27px;
	}

	section {
		&.intro {
			.header {
				.inner {
					.header-text {
						text-align: left;
						width: 90%;
						max-width: 1170px;
						h1 {
							font-size: 26px;
							line-height: 39px;
							margin: 80px 0 0;
							max-width: 400px;
							span {
								font-size: 42px;
								line-height: 56px;
							}
						}
					}
					a {
						width: 90%;
						max-width: 1170px;
						img {
							margin: 10px 0 0 50px;
						}
					}
				}
			}
		}
		&.social {
			display: block;
		}
		&.walkthrough-section {
			min-height: 2000px;
			min-height: 200vh;
			.walkthrough-wrapper {
				.walkthrough {
					padding: 100px 0;
					.screens-wrapper {
						width: 65%;
						height: 100%;
						position: absolute;
						.screens {
							width: 55%;
							padding-bottom: 42%;
							position: fixed !important;
						}
					}
					.text-wrapper {
						display: block;
						width: 33%;
						left: 67%;
						position: relative;
						vertical-align: middle;
						padding-bottom: 50vh;
						text-align: left;
						margin: 0;
						.text-node {
							margin-top: 50vh;
							position: relative;
							&.main {
								position: relative;
								margin-top: 40%;
							}
						}
					}
				}
			}
		}
		&.users {
			width: 50%;
			float: left;
			.inner {
				padding: 100px 20px 120px;
			}
		}
		&.request {
			clear: both;
			min-height: 600px;
			.inner {
				padding: 0;
				width: 440px;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));
			}
		}
	}
}