@import "neat-helpers";

$grid-columns: 12;

$mobile-size:				em(415);
$largemobile-size:	em(600);
$tablet-size:				em(1024);
$desktop-size:			em(1300);
$largedesktop-size:	em(1600);
$tall-size:					em(783);
$max-size:					em(1024);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size 12);
$largemobile: new-breakpoint(min-width $largemobile-size 12);
$tablet: new-breakpoint(min-width $tablet-size 12);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 12);
$tall: new-breakpoint(min-height $tall-size 12);
$max: new-breakpoint(max-width $max-size 12);


// Colors
$base-color:						#444444;
$title-color:						#fff;
$base-bg-color:					#fff;
$alt-bg-color:					#F7F7F7;
$input-bg-color:				#F3F3F3;
$border-color:					#eee;
$link-color:						#B2B2B2;
$accent-bg-color:				#3B94CC;
$dark-accent-bg-color: 	#348AC0;
$twitter-bg-color:			#50ABF1;
$facebook-bg-color: 		#39579A;
$error-color:						#ff0000;

// Modal
$modal-padding: 3em;
$modal-background: transparent;
$modal-close-color: #DDD;